# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/raw/
*.csv
*.parquet

# MLflow
mlruns/
mlartifacts/

# Models
*.pkl
*.joblib
*.bin
models/

# Environment
.env
*.env

# Docker
.docker/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Prefect
.prefect/
*.db
